.footer { background-color: rgba(250, 82, 4, 0.74);
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    font-family:verdana;
padding: 5px;
@media screen and (max-width:990px){
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;}}
.f1 {color: white; }
.f4 { color: white; }
.bandera {height: 40px;}