.main {background-image: linear-gradient(rgba(0, 0, 0, 0.829),rgba(0, 0, 0, 0)), url(https://apps.studentaffairs.cmu.edu/dining/conceptinfo/conceptAssets/images/sushi%20photo_2000x1000.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 850px;
    @media screen and (max-width:990px){
            display: flex;
            flex-direction: column;}}
.pedidos {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
}
.card-img-top {
    height:150px !important; 
}
.card {
    margin: 30px !important;
}